
exports.config = config = {
    TWITCH_CLIENT_ID : '<Twitch Client ID Here>',
    TWITCH_SECRET    : '<Twitch Client Secret Here>',
    SESSION_SECRET   : '<Session Secret Here>',
    CALLBACK_URL     : '<Callback URL Here>'
}